.central {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.central__logo {
  margin-bottom: 65px;
  width: 400px;
}

.central--video {
  opacity: 0;
  animation: rotateIn .9s;
  animation-fill-mode: forwards;
}

@keyframes rotateIn {

  from {
    transform: scale(0.1) rotate(30deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
