.offers {
  display: flex;
  margin-bottom: 180px;
}

.offers__item {
  background: #fff;
  color: #000;
  padding: 35px 35px 52px 21px;
  margin-right: 27px;
  width: 362px;
  border-radius: 5px;
  min-height: 476px;;
}

.offers__img {
  margin-bottom: 30px;
}

.offers__title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 17px;
}

.offers__desc {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  
}

.offers__desc-text {
  color: #666666;
}

.offers__info {
  font-size: 14px;
  margin-bottom: 28px;
}

.offers__item:last-child {
  margin-right: 0;

}

.offers--weight--bold {
  font-weight: bold;
}